<!-- Header -->
<header>
  <div class="container nav-container">
    <a href="index.html" class="logo">
      <img class="logo-image" src="/zblogo.png" alt="zero berriers logo" />
      ZERO <span>BARRIERS</span>
    </a>
    <nav class="nav-links" aria-label="Main navigation">
      <a href="index.html">Home</a>
      <a href="services.html">Services</a>
      <a href="case-studies.html">Case Studies</a>
      <a href="contact.html">Contact</a>
    </nav>
    <div
      class="mobile-menu-toggle"
      aria-label="Open navigation menu"
      tabindex="0"
    >
      <i class="fas fa-bars"></i>
    </div>
    <a href="contact.html" class="cta-button">Get Started</a>
  </div>
</header>
